<div class="menu">
    <ul>
        <a href="/">
            <i class="fa-solid fa-house"></i> <li>HOME</li>
        </a>&nbsp;
        <a href="#">
            <i class="fa-solid fa-circle-info"></i> <li>ABOUT</li>
        </a>&nbsp;
        <a href="#">
            <i class="fa-solid fa-circle-question"></i> <li>FAQ</li>
        </a>&nbsp;
        <a href="#">            
            <i class="fa-solid fa-envelope"></i> <li>CONTACT</li>
        </a>&nbsp;
    </ul>
</div>