<%- include("partials/header") -%>    

<div class="content">
    <a href="/pictures">
        <div class="div-settings">
            <span><i class="fa-solid fa-address-card" style="color: #0f0;"></i></span>&nbsp;&nbsp;
            <span>Change your profile picture</span>
        </div>
    </a>
    <a href="/likes">
        <div class="div-settings">
            <span><i class="fa-solid fa-heart" style="color: #f00;"></i></span>&nbsp;&nbsp;
            <span>Check all likes you gave</span>
        </div>        
    </a>
    <a href="/comments">
        <div class="div-settings">
            <span><i class="fa-solid fa-comments" style="color: #DDA0DD;"></i></span>&nbsp;&nbsp;
            <span>Check all comments you made</span>
        </div>
    </a>    
</div>
    
<%- include("partials/footer") -%>